/* ! First Week of CSS */
:root {
  --background: #232323;
  --lift: #2c2c2c;
  --faded: #838383;
  /* * Pick an accent color below by commenting in one set, and commenting the others out */
  /* !Salmon */
  --accent: 7, 82%;
  --l: 63%;

/* !Blue */
  /* --accent: 198, 76%;
  --l: 51%; */

/* !Orange */
  /* --accent: 19, 97%;
  --l: 51%; */

/* !Pink */
  /* --accent: 334, 100%;
  --l: 50%; */

/* !Purple */
  /* --accent: 265, 83%;
  --l: 57%; */

/* !Green */
  /* --accent: 162, 95%;
  --l: 34%; */

/* !Yellow */
  /* --accent: 36, 100%;
  --l: 56%; */

  /* --color-primary: hsl(36, 100%, 56%) */
  --color-primary: hsl(var(--accent),var(--l))
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

header {
  height: 75px;
  width: 100vw;
  background-color: var(--color-primary);
  padding: 0px 35px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 60vw;
  text-align: center;
}
.big-title {
  font-size: 64px;
  color: var(--color-primary);
}

p {
  font-size: 20px;
}

.word {
  font-size: 32px;
  color: var(--color-primary);
}


button {
  min-width: 150px;
  height: 45px;
  font-size: 25px;
  border-radius: 3px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  margin: 10px;
  transition: all 0.05s ease-in-out;
}

button:active {
  background-color: var(--color-primary);
  color: white;
  transition: all 0.05s ease-in-out;
}